*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  html {
    font-size: 58%;
  }
}

body {
  font-family: "Righteous", cursive;
  color: #888;
  background-color: #f3f3f3;
  height: 100vh;
}

img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

.welcome {
  font-size: 3rem;
  font-family: "poppins", sans-serif;
}

.logo {
  font-family: "Rubik Burned", cursive;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 500px) {
  .logo__header {
    margin-bottom: 1rem;
    text-align: left;
    margin-right: auto;
  }
}
.logo__info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 500px) {
  .logo__info {
    flex-direction: column;
    gap: 0;
  }
}

.login {
  margin-inline: auto;
}
.login > *:not(:last-child) {
  margin-bottom: 2rem;
}
.login__username, .login__pin {
  width: min(350px, 100%);
}
.login__input--user, .login__input--pin {
  position: relative;
}

.log {
  text-align: center;
}
.log .logo {
  text-align: center !important;
}
.log-section {
  display: grid;
  align-content: center;
  height: 100%;
  transition: all 0.2s;
  position: absolute;
  z-index: 100;
  background-image: url(img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-inline: 3rem;
}
.log__input {
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
  display: block;
  font-family: inherit;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-family: "poppins", sans-serif;
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: inherit;
}
.log__input:focus {
  outline: 2px solid rgba(255, 255, 255, 0.9);
}
.log__input::-moz-placeholder {
  font-family: "poppins", sans-serif;
  color: rgba(255, 255, 255, 0.3);
}
.log__input:-ms-input-placeholder {
  font-family: "poppins", sans-serif;
  color: rgba(255, 255, 255, 0.3);
}
.log__input::placeholder {
  font-family: "poppins", sans-serif;
  color: rgba(255, 255, 255, 0.3);
}
.log__btn {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.8rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
  font-family: righteous, cursive;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.4rem 4rem;
  grid-column: span 2;
}
.log__btn i {
  margin-left: 0.5rem;
}
.log-logo {
  width: 50px;
  margin: auto;
}

.signup {
  display: grid;
  grid-template-columns: 300px 300px;
  margin: auto;
  gap: 3rem;
  justify-items: center;
  width: 100%;
  justify-content: center;
}
@media (max-width: 700px) {
  .signup {
    width: min(300px, 100%);
    display: block;
  }
  .signup > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.signup div {
  width: inherit;
}
.signup-login {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

.alternative {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.app {
  position: relative;
  max-width: 125rem;
  margin: auto auto;
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin-top: 4rem;
  gap: 10rem;
}
@media (max-width: 1000px) {
  .app {
    grid-template-columns: 1fr !important;
    gap: 7rem !important;
    padding-bottom: 7rem;
  }
}

.balance {
  margin-bottom: 3rem;
}
@media (max-width: 1000px) {
  .balance {
    margin-bottom: 0 !important;
  }
}
.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}
.balance__date {
  font-size: 1.4rem;
  color: #888;
}
.balance__value {
  margin: 0.7rem 0;
  font-size: 4.5rem;
  font-weight: 700;
}

.movements {
  grid-row: 2/span 3;
  border-radius: 1rem;
  overflow: auto;
  height: 30rem;
  padding: 0 1rem;
  color: #fff;
}
.movements__row {
  padding: 2.25rem 0;
  border-bottom: 1px solid #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  margin-right: auto;
}
.movements__type--deposit {
  background-color: #34a853;
}
.movements__type--withdrawal {
  background-color: rgba(253, 4, 4, 0.6);
}
.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  margin-inline: auto;
}
.movements__value {
  font-size: 1.7rem;
  font-family: "Righteous", cursive;
  margin-left: auto;
  color: #fff;
}
.movements__header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  font-size: 1.4rem;
}
.movements__top {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.movements__top__header {
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
}

.summary {
  grid-row: 5/6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}
.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}
.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
  margin-top: 0.5rem;
}
.summary__value--in, .summary__value--interest {
  color: #34a853;
}
.summary__value--out {
  color: rgba(253, 4, 4, 0.7);
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  color: #999;
}
.btn--sort:hover, .btn--sort:focus {
  outline: none;
  color: #777;
}

.operation {
  border-radius: 1.5rem;
  padding: 3rem 4rem;
  color: #333;
}
.operation h2 {
  font-size: 1.8rem;
  color: #fff;
}
.operation--loan {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1000px) {
  .operation--loan {
    width: min(100%, 400px);
  }
}
.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.operation--close > * {
  color: #fff;
}
.operation--close i {
  font-size: 2.5rem;
}
.operation--header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.operation--header i {
  font-size: 1.8rem;
  color: #fff;
}
.operation--header-loan i {
  padding: 0.6rem;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  border-radius: 10px;
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
}

.form {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  gap: 1rem;
  margin-top: 1.5rem;
}
.form--loan {
  margin-top: 2rem;
}
.form--loan + * {
  position: relative;
}
.form__label {
  font-size: 1.3rem;
  text-align: center;
}
.form__label--loan {
  grid-row: 2;
}
.form__input {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  outline: 2px solid transparent;
  color: #333;
  padding: 1.25rem 2rem;
  border-radius: 0.7rem;
  font-family: "Righteous", cursive;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.form__input::-moz-placeholder {
  font-family: inherit;
  font-size: 1.6rem;
  color: #fff;
}
.form__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 1.6rem;
  color: #fff;
}
.form__input::placeholder {
  font-family: inherit;
  font-size: 1.6rem;
  color: #fff;
}
.form__input:focus {
  outline: 2px solid rgba(255, 255, 255, 0.9);
}
.form__input--loan-amount, .form__input--amount, .form__input--transfer {
  position: relative;
}
.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  outline: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}
.form__btn:focus {
  outline: 2px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.15);
}
.form__btn--close {
  padding: 1rem;
}
.form--close input {
  background-color: rgba(255, 255, 255, 0.2);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

.container {
  display: none;
  transition: all 0.3s ease;
  transition-delay: 0.03s;
  padding-inline: 3rem;
  background-color: #000;
}

.account__det {
  padding-bottom: 3rem;
}
@media (max-width: 1000px) {
  .account__det {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    align-items: center;
    row-gap: 3rem;
  }
}
.account__det--card {
  border-radius: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  max-width: 380px;
  padding: 3rem;
  font-size: 1.6rem;
  font-family: "Righteous", cursive;
  color: #fff;
  background-image: linear-gradient(to right, #e96443, #904a95);
}
@media (max-width: 1000px) {
  .account__det--card {
    width: min(100%, 400px);
  }
}
.account__det--card-exp {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
  align-items: center;
}
.account__det--card-name {
  display: flex;
  justify-content: space-between;
}
.account__det--card-no {
  display: flex;
  gap: 4rem;
  font-family: "Righteous", cursive;
  font-weight: 700;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.account__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 4rem;
}

.transaction {
  background-color: #fff;
  padding: 3rem 5rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.transaction__heading {
  font-family: "Righteous", cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}
.transaction__beneficiaries {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.beneficiary {
  border: none;
  cursor: pointer;
  background: none;
  color: #999;
}
.beneficiary p {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: rgb(116, 116, 116);
  font-weight: 500;
}
.beneficiary__img {
  width: 100px;
  border-radius: 20px;
}

.user__container {
  cursor: pointer;
}
.user__container:hover .user__container--options, .user__container:focus .user__container--options, .user__container:focus-within .user__container--options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s;
}
.user__container--options {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 100;
  right: 7px;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}
.user__container--options > * {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.user-img {
  width: 40px;
  border-radius: 13px;
  position: relative;
}

.modal {
  background-color: rgb(219, 141, 141);
  margin: auto;
  transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 85%;
  max-width: 500px;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  font-family: 900;
  color: #fff;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.credit-card {
  width: 25px;
}

@media (max-width: 600px) {
  .beneficiary__img {
    width: 75px !important;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.operation--loan,
.transaction {
  background-color: rgba(255, 255, 255, 0.1);
}

.fa-arrow-right-long {
  color: #fff;
}

.error {
  position: absolute;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.error-loan, .error-message {
  color: #fff;
}

.error-open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=main.css.map */