/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Righteous', cursive;

  color: #333;
  background-color: #f3f3f3;
  height: 100vh;
}

img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 4rem;
  font-family: 'Cabin Sketch', cursive;
}

.logo {
  height: 5.25rem;
  width: auto;
}

.login {
  /* display: flex; */
  text-align: center;
}
.login > * {
  margin-top: 2rem;
}
.login-section {
  display: grid;
  align-content: center;
  height: 100%;
  transition: all 0.2s;
  position: absolute;
  /* transform: translate(-50%, -50%);
	left: 50%;
	top: 50%; */
  z-index: 100;
  background-color: #f3f3f3;
  width: 100%;
}

.login__input {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  display: block;
  font-family: inherit;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  font-family: 'poppins', sans-serif;
  width: min(300px, 100%);
  margin-inline: auto;
}

.login__btn i {
  margin-left: 0.5rem;
}

.login__input:focus {
  outline: none;
  border: 2px solid #000;
}

.login__input::placeholder {
  font-family: 'poppins', sans-serif;
  color: #bbb;
}

.login__btn {
  border: none;
  background: #fff;
  font-size: 1.8rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
  font-family: righteous, cursive;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  width: min(200px, 100%);
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  max-width: 125rem;
  margin: auto auto;
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin-top: 4rem;
  /* grid-template-rows: auto repeat(3, 15rem) auto; */
  gap: 10rem;

  /* NOTE This creates the fade in/out anumation */
  /* opacity: 0;
  visibility: collapse;
  display: none;
  transition: all 1s; */
}
.logo {
  margin: auto;
}
.balance {
  /* grid-column: 1 / span 2; */
  /* display: flex; */
  /* align-items: flex-end; */
  /* justify-content: space-between; */
  margin-bottom: 3rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  margin: 0.7rem 0;
  font-size: 4.5rem;
  font-weight: 700;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: auto;
  height: 35rem;
  padding: 0 1rem;
}

.movements__row {
  padding: 2.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  font-family: 'Righteous', cursive;
  /* margin-left: auto; */
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
  margin-top: 0.5rem;
}

.summary__value--in,
.summary__value--interest {
  /* color: #66c873; */
  color: #34a853;
}

.summary__value--out {
  /* color: #f5465d; */
  color: #fd0404;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1.5rem;
  padding: 3rem 4rem;
  color: #333;
  /* border: 1px solid #000; */
}
.operation h2 {
  font-size: 2rem;
  /* font-weight: 500; */
  /* margin-bottom: 1rem; */
}
.operation--transfer {
  /* background-image: linear-gradient(to top left, #ffb003, #ffcb03); */
}

.operation--loan {
  /* background-image: linear-gradient(to top left, #39b385, #9be15d); */
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  /* margin-top: 2rem; */
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  /* margin-bottom: 1.5rem; */
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  /* grid-template-columns: 2.5fr 2.5fr 1fr; */
  /* grid-template-rows: auto auto; */
  /* gap: 0.4rem 1rem; */
  grid-template-columns: 1.5fr 0.5fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* Exceptions for interst */
.form.form--loan {
  margin-top: 2rem;
  /* grid-template-columns: 2.5fr 1fr 2.5fr; */
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  /* text-align: center; */

  border: 1px solid rgba(0, 0, 0, 0.3);

  color: #333;
  padding: 1.25rem 2rem;
  border-radius: 0.7rem;
  font-family: 'Righteous', cursive;

  transition: all 0.3s;
}

.form__input::placeholder {
  font-family: inherit;
  font-size: 1.6rem;
}

.form__input:focus {
  outline: none;
  /* background-color: rgba(255, 255, 255, 0.6); */
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

.container {
  display: none;
  padding: 2rem;
  transition: all 0.3s ease;
  transition-delay: 0.03s;
}

.movements__header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.movements__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.account__det {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center; */
  padding: 3rem 0rem;
  /* padding-bottom: 2rem; */
}

.account__det--card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  max-width: 380px;
  padding: 3rem;
  font-size: 1.6rem;
  color: #888;
}

.account__det--card-exp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__det--card-no {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.account__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 3rem;
}
.movements__header {
  font-size: 1.4rem;
}

.movements__top__header {
  font-size: 2.2rem;
  font-weight: 600;
}

.transactions {
  background-color: #fff;
  padding: 3rem 5rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.credit-card {
  width: 25px;
}

.account__det--card-name {
  display: flex;
  justify-content: space-between;
}

.account__det--card-no {
  font-family: 'Righteous', cursive;
  font-weight: 700;
}

.account__det--card {
  font-family: 'Righteous', cursive;
}

.account__det--card-exp {
  margin: 2.5rem 0;
}

.transaction__heading {
  font-family: 'Righteous', cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.transaction__beneficiaries {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.beneficiary {
  /* padding: 2.5rem 3rem; */
  border: none;
  /* border-radius: 25px; */
  cursor: pointer;
  /* background: #f3f3f3; */
  background: none;
}

.beneficiary p {
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  color: rgb(116, 116, 116);
  font-weight: 500;
}

.beneficiary__img {
  width: 100px;
  border-radius: 20px;
}

.operation--header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.operation--header i {
  font-size: 2rem;
  color: #fff;
}

.operation--header-loan i {
  padding: 1rem;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  border-radius: 10px;
}
.operation--header-close i {
  font-size: 2.5rem;
}
.operation--header-close > * {
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.user__container {
  cursor: pointer;
}

.user-img {
  width: 40px;
  border-radius: 13px;
  position: relative;
}

.user__container:hover .user__container--options,
.user__container:focus .user__container--options,
.user__container:focus-within .user__container--options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s;
}

.user__container--options {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 100;
  right: 7px;
  box-shadow: 0.5px 0.5px 4px rgb(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}

.user__container--options > * {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

/* button{
  border: none;
  background-color: none;
} */

.modal {
  max-width: 500px;
  background-color: rgb(219, 141, 141);
  margin: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.overlay {
  width: 100%;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  backdrop-filter: blur(3px);
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2.5rem;
  font-family: 900;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.movements__top {
  margin-top: 3rem;
}

.login-logo {
  width: 50px;
  margin: auto;
}

.login__input--user,
.login__input--pin {
  /* width: 100%; */
  /* border-radius: 20px;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: #333;
  outline: none; */
  /* transition-delay: 1s; */
}

.form__btn--close {
  padding: 1rem;
}
